<form
  [formGroup]="registerForm"
  #ngForm="ngForm"
  (ngSubmit)="submitRegisterFrm()"
>
  <input
    type="text"
    formControlName="username"
    [class.is-invalid]="
      registerFrmCtrl.username.invalid &&
      (registerFrmCtrl.username.touched || ngForm.submitted)
    "
    placeholder="username"
  />
  <div
    *ngIf="
      registerFrmCtrl.username.invalid &&
      (registerFrmCtrl.username.touched ||
        registerFrmCtrl.username.dirty ||
        ngForm.submitted)
    "
  >
    <span *ngIf="registerFrmCtrl.username.errors?.required">
      First name is required</span
    >
    <span
      class="alphabet-error"
      *ngIf="registerFrmCtrl.username.errors?.pattern"
      >Only alphabets allowed</span
    >
    <span *ngIf="registerFrmCtrl.username.errors?.serverError">{{
      registerFrmCtrl.username.errors?.serverError
    }}</span>
  </div>
  <input
    type="text"
    formControlName="email"
    [class.is-invalid]="
      registerFrmCtrl.email.invalid &&
      (registerFrmCtrl.email.touched || ngForm.submitted)
    "
    placeholder="Email"
  />
  <div
    *ngIf="
      registerFrmCtrl.email.invalid &&
      (registerFrmCtrl.email.touched ||
        registerFrmCtrl.email.dirty ||
        ngForm.submitted)
    "
  >
    <span *ngIf="registerFrmCtrl.email.errors?.required">
      Email is required</span
    >
    <span *ngIf="registerFrmCtrl.email.errors?.serverError">{{
      registerFrmCtrl.username.errors?.serverError
    }}</span>
  </div>
  <input
    type="text"
    formControlName="password"
    [class.is-invalid]="
      registerFrmCtrl.password.invalid &&
      (registerFrmCtrl.password.touched || ngForm.submitted)
    "
    placeholder="Password"
  />
  <div
    *ngIf="
      registerFrmCtrl.password.invalid &&
      (registerFrmCtrl.password.touched ||
        registerFrmCtrl.password.dirty ||
        ngForm.submitted)
    "
  >
    <span *ngIf="registerFrmCtrl.password.errors?.required">
      Password is required</span
    >
    <span
      class="alphabet-error"
      *ngIf="registerFrmCtrl.password.errors?.pattern"
      >Only alphabets allowed</span
    >
    <span *ngIf="registerFrmCtrl.password.errors?.serverError">{{
      registerFrmCtrl.password.errors?.serverError
    }}</span>
  </div>
  <button type="submit">Submit</button>
</form>
